---
http_interactions:
- request:
    method: put
    uri: https://api.pagerduty.com/incidents/PD9WJA8/merge
    body:
      encoding: UTF-8
      string: '{"source_incidents":[{"id":"PZMITGO","type":"incident_reference"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="FAKETOKEN"
      From:
      - pagerduty@veverka.net
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c356ac282b68ffc2b098fa04297bb4b8"
    body:
      encoding: ASCII-8BIT
      string: '{"incident":{"incident_number":19,"title":"Snooze Me","description":"Snooze
        Me","created_at":"2017-05-24T02:03:43Z","status":"acknowledged","pending_actions":[{"type":"unacknowledge","at":"2017-05-24T03:08:57Z"},{"type":"resolve","at":"2017-05-24T07:08:57Z"}],"incident_key":"c4cda4e2e7b4425986622b1cec07a288","service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"assignments":[{"at":"2017-05-24T02:08:27Z","assignee":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}}],"acknowledgements":[{"at":"2017-05-24T02:08:27Z","acknowledger":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}}],"last_status_change_at":"2017-05-24T02:08:27Z","last_status_change_by":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"first_trigger_log_entry":{"id":"ROLCR3AAIXJ6ZGDT3ZEKTARL7A","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/ROLCR3AAIXJ6ZGDT3ZEKTARL7A","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PD9WJA8/log_entries/ROLCR3AAIXJ6ZGDT3ZEKTARL7A"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"is_mergeable":true,"importance":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PD9WJA8","type":"incident","summary":"[#19]
        Snooze Me","self":"https://api.pagerduty.com/incidents/PD9WJA8","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PD9WJA8"}}'
  recorded_at: Wed, 24 May 2017 02:29:49 GMT
recorded_with: VCR 3.0.3
