---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents/14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fad9cf85d31f671db3e341a7b082dcc2"
    body:
      encoding: ASCII-8BIT
      string: '{"incident":{"incident_number":14,"title":"BLAH","description":"BLAH","created_at":"2017-05-14T02:01:58Z","status":"resolved","pending_actions":[],"incident_key":"a4abde2e49784344855ff4f8f1f59b16","service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"assignments":[],"acknowledgements":[],"last_status_change_at":"2017-05-14T06:01:58Z","last_status_change_by":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"first_trigger_log_entry":{"id":"R57NYJVUGNN5CGHQIXF2K45J7X","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/R57NYJVUGNN5CGHQIXF2K45J7X","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PLK5EK9/log_entries/R57NYJVUGNN5CGHQIXF2K45J7X"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"is_mergeable":true,"importance":null,"resolve_reason":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PLK5EK9","type":"incident","summary":"[#14]
        BLAH","self":"https://api.pagerduty.com/incidents/PLK5EK9","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PLK5EK9"}}'
  recorded_at: Tue, 23 May 2017 14:05:48 GMT
- request:
    method: get
    uri: https://api.pagerduty.com/incidents/PLK5EK9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fad9cf85d31f671db3e341a7b082dcc2"
    body:
      encoding: ASC[...]
