---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services/P7WQ2DJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ccf6af65094a2a2a520ce2362d3f2c6f"
    body:
      encoding: ASCII-8BIT
      string: '{"service":{"id":"P7WQ2DJ","name":"API Service","description":"This
        service was created during onboarding on May 10, 2017.","auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-05-10T19:34:42-04:00","status":"active","last_incident_timestamp":"2017-05-23T08:11:52-04:00","teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"incident_urgency_rule":{"type":"constant","urgency":"high"},"scheduled_actions":[],"support_hours":null,"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"addons":[],"privilege":null,"alert_creation":"create_alerts_and_incidents","integrations":[{"id":"P4K1668","type":"generic_events_api_inbound_integration_reference","summary":"API","self":"https://api.pagerduty.com/services/P7WQ2DJ/integrations/P4K1668","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ/integrations/P4K1668"}],"type":"service","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"}}'
  recorded_at: Tue, 30 May 2017 19:46:00 GMT
recorded_with: VCR 3.0.3
