---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/vendors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3ee47aa7418cd970309ee620501327fd"
    body:
      encoding: ASCII-8BIT
      string: '{"vendors":[{"id":"PZQ6AUS","type":"vendor","summary":"Amazon Cloudwatch","self":"https://api.pagerduty.com/vendors/PZQ6AUS","html_url":null,"name":"Amazon
        Cloudwatch","website_url":"https://aws.amazon.com/cloudwatch","long_name":"Amazon
        Cloudwatch AWS CloudSearch DynamoDB EBS EC2 ECS ElastiCac","logo_url":"https://s3.amazonaws.com/pdpartner/cloudwatch_large.png","thumbnail_url":"https://s3.amazonaws.com/pdpartner/cloudwatch_thumb.png","description":"Amazon
        Web Services CloudWatch provides monitoring for AWS cloud resources and customer-run
        applications. \r\n\r\nThis integration supports alarms from CloudSearch, DynamoDB,
        EBS, EC2, ECS, ElastiCache, ELB, ES, Kinesis, Lambda, ML, Redshift, RDS, Route53,
        SNS, SQS, S3, SWF, StorageGateway","integration_guide_url":"http://www.pagerduty.com/docs/guides/aws-cloudwatch-integration-guide/","connectable":false,"generic_service_type":"api","alert_creation_default":"create_alerts_and_incidents","alert_creation_editable":true,"is_pd_cef":false},{"id":"PAM4FGS","type":"vendor","summary":"Datadog","self":"https://api.pagerduty.com/vendors/PAM4FGS","html_url":null,"name":"Datadog","website_url":"http://www.datadoghq.com/","long_name":"Datadog","logo_url":"https://s3.amazonaws.com/pdpartner/datadog_large.png","thumbnail_url":"https://s3.amazonaws.com/pdpartner/datadog_thumb.png","description":"Datadog
        is a service for IT, Operations and Development teams who write and run applications
        at scale, and want to turn the m[...]
