---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/services
    body:
      encoding: UTF-8
      string: '{"service":{"name":"TEST THE THING","type":"schedule","time_zone":"America/New_York","description":"TEST","schedule_layers":[{"start":"2017-05-30
        17:28:25 UTC","end":"2017-06-09 17:28:25 UTC","rotation_virtual_start":"2017-05-30
        17:28:25 UTC","rotation_turn_length_seconds":604800,"users":[{"user":{"id":"PDU9IB6","type":"user"}}]}],"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"9bfcf580cf1c84d7fedd3f379787fcbb"'
    body:
      encoding: UTF-8
      string: '{"service":{"id":"P0J60GR","name":"TEST THE THING","description":"TEST","auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-06-05T12:47:54-04:00","status":"active","last_incident_timestamp":null,"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"incident_urgency_rule":{"type":"constant","urgency":"high"},"scheduled_actions":[],"support_hours":null,"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"addons":[],"privilege":null,"alert_creation":"create_incidents","integrations":[],"type":"service","summary":"TEST
        THE THING","self":"https://api.pagerduty.com/services/P0J60GR","html_url":"https://push-comedy-theater.pagerduty.com/services/P0J60GR"}}'
  recorded_at: Mon, 05 Jun 2017 16:47:54 GMT
recorded_with: VCR 3.0.3
