---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents/P6M04C7/log_entries?include%5B%5D=channels&include%5B%5D=services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="FAKETOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f5b1fe94f9495d61d7baed3b25552855"
    body:
      encoding: ASCII-8BIT
      string: '{"log_entries":[{"id":"ROXZL3A8DM3SCX8ADW76FBOOJF","type":"resolve_log_entry","summary":"Resolved
        by timeout","self":"https://api.pagerduty.com/log_entries/ROXZL3A8DM3SCX8ADW76FBOOJF","html_url":null,"created_at":"2017-05-11T03:49:34Z","agent":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"channel":{"type":"timeout"},"service":{"id":"P407C9R","name":"test
        service","description":null,"auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-05-10T23:48:13Z","status":"active","last_incident_timestamp":"2017-05-23T12:33:57Z","teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"incident_urgency_rule":{"type":"constant","urgency":"high"},"scheduled_actions":[],"support_hours":null,"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"addons":[{"id":"PE3MKYN","type":"incident_show_addon_reference","summary":"Updated
        Again","self":"https://api.pagerduty.com/addons/PE3MKYN","html_url":null}],"privilege":null,"alert_creation":"create_alerts_and_incidents","integrations":[{"id":"PD1VEX7","type":"events_api_v2_inbound_integration_reference","summary":"API","self":"https://api.pagerduty.com/services/P407C9R/integrations/PD1VEX7","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R/integrations/PD1VEX7"}],"type":"service","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"P6M04C7","type":"incident_reference","summary":"[#2]
        summary","self":"https://api.pagerduty.com/incidents/P6M04C7","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7"},"teams":[],"contexts":[],"event_details":{}},{"id":"ROWJSGGAODCVB3EUCMA1L62A9V","type":"notify_log_entry","summary":"Notified
        Patrick Veverka by email","self":"https://api.pagerduty.com/log_entries/ROWJSGGAODCVB3EUCMA1L62A9V","html_url":null,"created_at":"2017-05-11T00:20:05Z","channel":{"type":"auto","notification":{"type":"email","address":"patrick@veverka.net","status":"success"}},"service":{"id":"P407C9R","name":"test
        service","description":null,"auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-05-10T23:48:13Z","status":"active","last_incident_timestamp":"2017-05-23T12:33:57Z","teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"incident_urgency_rule":{"type":"c[...]
