---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents/P6M04C7/log_entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="FAKETOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ea45cd46c22822621ee672ffd157a262"
    body:
      encoding: ASCII-8BIT
      string: '{"log_entries":[{"id":"ROXZL3A8DM3SCX8ADW76FBOOJF","type":"resolve_log_entry","summary":"Resolved
        by timeout","self":"https://api.pagerduty.com/log_entries/ROXZL3A8DM3SCX8ADW76FBOOJF","html_url":null,"created_at":"2017-05-11T03:49:34Z","agent":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"channel":{"type":"timeout"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"P6M04C7","type":"incident_reference","summary":"[#2]
        summary","self":"https://api.pagerduty.com/incidents/P6M04C7","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7"},"teams":[],"contexts":[],"event_details":{}},{"id":"ROWJSGGAODCVB3EUCMA1L62A9V","type":"notify_log_entry","summary":"Notified
        Patrick Veverka by email","self":"https://api.pagerduty.com/log_entries/ROWJSGGAODCVB3EUCMA1L62A9V","html_url":null,"created_at":"2017-05-11T00:20:05Z","channel":{"type":"auto","notification":{"type":"email","address":"patrick@veverka.net","status":"success"}},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"P6M04C7","type":"incident_reference","summary":"[#2]
        summary","self":"https://api.pagerduty.com/incidents/P6M04C7","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7"},"teams":[],"contexts":[],"user":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}},{"id":"R7B8P9XKW2B7BMK52V8Q39T0PV","type":"unacknowledge_log_entry","summary":"Unacknowledged
        by timeout","self":"https://api.pagerduty.com/log_entries/R7B8P9XKW2B7BMK52V8Q39T0PV","html_url":null,"created_at":"2017-05-11T00:19:56Z","agent":{"id":"P407C9R","type":"service_reference","summary":"te[...]
