---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents/P6M04C7/log_entries?is_overview=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="FAKETOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f8876c72da39f6405f27a09c0702f6ac"
    body:
      encoding: ASCII-8BIT
      string: '{"log_entries":[{"id":"ROXZL3A8DM3SCX8ADW76FBOOJF","type":"resolve_log_entry","summary":"Resolved
        by timeout","self":"https://api.pagerduty.com/log_entries/ROXZL3A8DM3SCX8ADW76FBOOJF","html_url":null,"created_at":"2017-05-11T03:49:34Z","agent":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"channel":{"type":"timeout"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"P6M04C7","type":"incident_reference","summary":"[#2]
        summary","self":"https://api.pagerduty.com/incidents/P6M04C7","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7"},"teams":[],"contexts":[],"event_details":{}},{"id":"R0KXXCO1VFE8WN2LRYN7IJ1YEF","type":"acknowledge_log_entry","summary":"Acknowledged
        by Patrick Veverka","self":"https://api.pagerduty.com/log_entries/R0KXXCO1VFE8WN2LRYN7IJ1YEF","html_url":null,"created_at":"2017-05-10T23:49:54Z","agent":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"channel":{"type":"website"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"P6M04C7","type":"incident_reference","summary":"[#2]
        summary","self":"https://api.pagerduty.com/incidents/P6M04C7","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7"},"teams":[],"contexts":[],"acknowledgement_timeout":1800,"event_details":{}},{"id":"R0SY4PIGBFNCUIPGHYAZ03UEJ3","type":"trigger_log_entry","summary":"Triggered
        through the API","self":"https://api.pagerduty.com/log_entries/R0SY4PIGBFNCUIPGHYAZ03UEJ3","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7/log_entries/R0SY4PIGBFNCUIPGHYAZ03UEJ3","created_at":"2017-05-10T23:49:33Z","agent":{"id":"PD1VEX7","type":"events_api_v2_inbound_integration_reference","summary":"API","self":"https://api.pagerduty.com/services/P407C9R/integrations/PD1VEX7","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R/integrations/PD1VEX7"},"channel":{"type":"api","summary":"summary"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"P6M04C7","type":"incident_reference","summary":"[#2]
        summary","self":"https://api.pagerduty.com/incidents/P6M04C7","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P6M04C7"},"teams":[],"contexts":[],"event_details":{"description":"summary"}}],"limit":100,"offset":0,"more":false,"total":null}'
  recorded_at: Wed, 24 May 2017 01:40:00 GMT
recorded_with: VCR 3.0.3
