---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/schedules/P99HSGO?time_zone=UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a1b79e2e24fd138534eb7665b6e844ca"
    body:
      encoding: ASCII-8BIT
      string: '{"schedule":{"id":"P99HSGO","type":"schedule","summary":"Loop","self":"https://api.pagerduty.com/schedules/P99HSGO","html_url":"https://push-comedy-theater.pagerduty.com/schedules/P99HSGO","name":"Loop","time_zone":"America/New_York","description":null,"escalation_policies":[],"users":[{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},{"id":"PW21NA6","type":"user_reference","summary":"Sofia
        Veverka","self":"https://api.pagerduty.com/users/PW21NA6","html_url":"https://push-comedy-theater.pagerduty.com/users/PW21NA6"},{"id":"PDU9IB6","type":"user_reference","summary":"Fake
        User","self":"https://api.pagerduty.com/users/PDU9IB6","html_url":"https://push-comedy-theater.pagerduty.com/users/PDU9IB6"}],"privilege":null,"schedule_layers":[{"name":"Layer
        1","rendered_schedule_entries":[],"rendered_coverage_percentage":null,"id":"PY4KMY5","start":"2017-05-30T14:14:05Z","end":null,"rotation_virtual_start":"2017-05-30T14:00:00Z","rotation_turn_length_seconds":604800,"users":[{"user":{"id":"PDU9IB6","type":"user_reference","summary":"Fake
        User","self":"https://api.pagerduty.com/users/PDU9IB6","html_url":"https://push-comedy-theater.pagerduty.com/users/PDU9IB6"}},{"user":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"}},{"user":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}},{"user":{"id":"PW21NA6","type":"user_reference","summary":"Sofia
        Veverka","self":"https://api.pagerduty.com/users/PW21NA6","html_url":"https://push-comedy-theater.pagerduty.com/users/PW21NA6"}}],"restrictions":[]}],"overrides_subschedule":{"name":"Overrides","rendered_schedule_entries":[],"rendered_coverage_percentage":null},"final_schedule":{"name":"Final
        Schedule","rendered_schedule_entries":[],"rendered_coverage_percentage":null},"teams":[]}}'
  recorded_at: Tue, 30 May 2017 14:20:12 GMT
recorded_with: VCR 3.0.3
