---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/maintenance_windows
    body:
      encoding: UTF-8
      string: '{"maintenance_window":{"type":"maintenance_window","start_time":"2017-05-27T12:17:00-04:00","end_time":"2017-05-27T12:19:00-04:00","description":"Generic
        MaintenanceWindow","services":[{"id":"P407C9R","type":"service_reference"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
      From:
      - pagerduty@veverka.net
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"4c74a58d50867bb1b604cae5db7fe33b"'
    body:
      encoding: UTF-8
      string: '{"maintenance_window":{"id":"PQA2SWT","type":"maintenance_window","summary":"Generic
        MaintenanceWindow","self":"https://api.pagerduty.com/maintenance_windows/PQA2SWT","html_url":"https://push-comedy-theater.pagerduty.com/maintenance_windows#/show/PQA2SWT","sequence_number":2,"start_time":"2017-05-27T12:17:00-04:00","end_time":"2017-05-27T12:19:00-04:00","description":"Generic
        MaintenanceWindow","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"created_by":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}]}}'
  recorded_at: Sat, 27 May 2017 15:29:35 GMT
recorded_with: VCR 3.0.3
