---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/maintenance_windows/PQA2SWT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4c74a58d50867bb1b604cae5db7fe33b"
    body:
      encoding: ASCII-8BIT
      string: '{"maintenance_window":{"id":"PQA2SWT","type":"maintenance_window","summary":"Generic
        MaintenanceWindow","self":"https://api.pagerduty.com/maintenance_windows/PQA2SWT","html_url":"https://push-comedy-theater.pagerduty.com/maintenance_windows#/show/PQA2SWT","sequence_number":2,"start_time":"2017-05-27T12:17:00-04:00","end_time":"2017-05-27T12:19:00-04:00","description":"Generic
        MaintenanceWindow","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"created_by":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}]}}'
  recorded_at: Sat, 27 May 2017 15:36:06 GMT
[...]
- request:
    method: get
    uri: https://api.pagerduty.com/maintenance_windows/PQA2SWT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Maintenance Window Not Found","code":5001}}'
  recorded_at: Sat, 27 May 2017 15:36:07 GMT
recorded_with: VCR 3.0.3
