---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/maintenance_windows/PIVGPA6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"75db3aa431029b2262dedfdbc63ca623"
    body:
      encoding: ASCII-8BIT
      string: '{"maintenance_window":{"id":"PIVGPA6","type":"maintenance_window","summary":"This
        is scheduled","self":"https://api.pagerduty.com/maintenance_windows/PIVGPA6","html_url":"https://push-comedy-theater.pagerduty.com/maintenance_windows#/show/PIVGPA6","sequence_number":1,"start_time":"2017-05-27T11:17:00-04:00","end_time":"2017-05-27T11:18:00-04:00","description":"This
        is scheduled","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"created_by":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}]}}'
  recorded_at: Sat, 27 May 2017 15:37:16 GMT
- request:
    method: delete
    uri: https://api.pagerduty.com/maintenance_windows/PIVGPA6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 405 Method Not Allowed
      Allow:
      - GET, PUT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Cannot cancel a maintenance window from the past","code":5003}}'
  recorded_at: Sat, 27 May 2017 15:37:16 GMT
recorded_with: VCR 3.0.3
