---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/maintenance_windows/P3BSCJV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"be31cb80634aac0ea4f50dc3def4d028"
    body:
      encoding: ASCII-8BIT
      string: '{"maintenance_window":{"id":"P3BSCJV","type":"maintenance_window","summary":"Test
        Description.","self":"https://api.pagerduty.com/maintenance_windows/P3BSCJV","html_url":"https://push-comedy-theater.pagerduty.com/maintenance_windows#/show/P3BSCJV","sequence_number":3,"start_time":"2017-05-28T11:43:00-04:00","end_time":"2017-05-28T12:43:00-04:00","description":"Test
        Description.","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"created_by":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}]}}'
  recorded_at: Sat, 27 May 2017 15:47:06 GMT
[...]
