---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/log_entries?is_overview=false&time_zone=EST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"232d3506d8723b8ec47075538fcf5adc"
    body:
      encoding: ASCII-8BIT
      string: '{"log_entries":[{"id":"R3S5ZGDVULY5D2QJ50QBJXAHS4","type":"annotate_log_entry","summary":"Note
        added by John Jones","self":"https://api.pagerduty.com/log_entries/R3S5ZGDVULY5D2QJ50QBJXAHS4","html_url":null,"created_at":"2017-05-26T18:40:59-05:00","agent":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"channel":{"type":"note","summary":"THIS
        IS CONTENT"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PDP31UM","type":"incident_reference","summary":"[#21]
        Merge It","self":"https://api.pagerduty.com/incidents/PDP31UM","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDP31UM"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[]},{"id":"R3UK2X1QDA2W65GVOZCEHZ869I","type":"resolve_log_entry","summary":"Resolved
        by timeout","self":"https://api.pagerduty.com/log_entries/R3UK2X1QDA2W65GVOZCEHZ869I","html_url":null,"created_at":"2017-05-24T01:14:14-05:00","agent":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"channel":{"type":"timeout"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PDP31UM","type":"incident_reference","summary":"[#21]
        Merge It","self":"https://api.pagerduty.com/incidents/PDP31UM","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDP31UM"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[],"event_details":{}},{"id":"RQTX93R9FAE7ZXW821BEA06Y09","type":"resolve_log_entry","summary":"Resolved
        by John Jones","self":"https://api.pagerduty.com/log_entries/RQTX93R9FAE7ZXW821BEA06Y09","html_url":null,"created_at":"2017-05-23T21:42:06-05:00","agent":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"channel":{"type":"api"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PD9WJA8","type":"incident_reference","summary":"[#19]
        Snooze Me","self":"https://api.pagerduty.com/incidents/PD9WJA8","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PD9WJA8"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[],"event_details":{}},{"id":"RR6JHKTOKDC6AIPFWM65SBVL6N","type":"notify_log_entry","summary":"Notified
        John Jones by email","self":"https://api.pagerduty.com/log_entries/RR6JHKTOKDC6AIPFWM65SBVL6N","html_url":null,"created_at":"2017-05-23T21:14:24-05:00","channel":{"type":"auto","notification":{"type":"email","address":"pagerduty@veverka.net","status":"success"}},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PDP31UM","type":"incident_reference","summary":"[#21]
        Merge It","self":"https://api.pagerduty.com/incidents/PDP31UM","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDP31UM"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[],"user":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"}},{"id":"R0OH3F03DPFRWFVM3XBE7C1KW2","type":"assign_log_entry","summary":"Assigned
        to John Jones by timeout","self":"https://api.pagerduty.com/log_entries/R0OH3F03DPFRWFVM3XBE7C1KW2","html_url":null,"created_at":"2017-05-23T21:14:14-05:00","agent":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"channel":{"type":"auto"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PDP31UM","type":"incident_reference","summary":"[#21]
        Merge It","self":"https://api.pagerduty.com/incidents/PDP31UM","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDP31UM"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[],"assignees":[{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"}]},{"id":"RQIDFB5YUWAK17T019D4VPDCQW","type":"trigger_log_entry","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/RQIDFB5YUWAK17T019D4VPDCQW","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDP31UM/log_entries/RQIDFB5YUWAK17T019D4VPDCQW","created_at":"2017-05-23T21:14:14-05:00","agent":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"channel":{"type":"web_trigger","summary":"Merge
        It"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PDP31UM","type":"incident_reference","summary":"[#21]
        Merge It","self":"https://api.pagerduty.com/incidents/PDP31UM","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDP31UM"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[],"event_details":{"description":"Merge
        It"}},{"id":"R2YR5P8Y9H6TO7YHY0VQPDKYDY","type":"resolve_log_entry","summary":"Resolved
        by John Jones","self":"https://api.pagerduty.com/log_entries/R2YR5P8Y9H6TO7YHY0VQPDKYDY","html_url":null,"created_at":"2017-05-23T21:13:41-05:00","agent":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"channel":{"type":"api"},"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"incident":{"id":"PZMITGO","type":"incident_reference","summary":"[#20]
        Merge This","self":"https://api.pagerduty.com/incidents/PZMITGO","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PZMITGO"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"contexts":[],"linked_incident":{"id":"PD9WJA8","type":"incident_reference","summary":"[#19]
        Snooze Me","self":"https://api.pagerduty.com/incidents/PD9WJA8","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PD9WJA8"},"event_details":{}},{"id":"RQAQKWDNMSW0B4YOUEJZ00N4GP","type":"notify_log_entry","summary":"Notified
        John Jones by email","self":"https://api.pagerduty.com/log_entries/RQAQKWDNMSW0B4YOUEJZ00N4GP","html_url":null,"created_at":"2017-05-23T21:13:25-05:00","channel":{"type":"auto","notifi[...]
