---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/oncalls?include%5B%5D=schedules&include%5B%5D=users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"46d59b6c1a19962951a94433d7aa34f1"
    body:
      encoding: ASCII-8BIT
      string: '{"oncalls":[{"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"escalation_level":1,"schedule":null,"user":{"name":"Fake
        User","email":"fake@veverka.net","time_zone":"America/New_York","color":"blue","avatar_url":"https://secure.gravatar.com/avatar/d68657a4dc653ad61e35fd31886bf903.png?d=mm&r=PG","billed":true,"role":"user","description":null,"invitation_sent":true,"contact_methods":[{"id":"PRU8TQD","type":"email_contact_method_reference","summary":"Default","self":"https://api.pagerduty.com/users/PDU9IB6/contact_methods/PRU8TQD","html_url":null}],"notification_rules":[{"id":"PM204QD","type":"assignment_notification_rule_reference","summary":"0
        minutes: channel PRU8TQD","self":"https://api.pagerduty.com/users/PDU9IB6/notification_rules/PM204QD","html_url":null},{"id":"PNRQ5V9","type":"assignment_notification_rule_reference","summary":"0
        minutes: channel PRU8TQD","self":"https://api.pagerduty.com/users/PDU9IB6/notification_rules/PNRQ5V9","html_url":null}],"job_title":null,"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"coordinated_incidents":[],"id":"PDU9IB6","type":"user","summary":"Fake
        User","self":"https://api.pagerduty.com/users/PDU9IB6","html_url":"https://push-comedy-theater.pagerduty.com/users/PDU9IB6"},"start":null,"end":null},{"escalation_policy":{"id":"P9ZL21C","type":"escalation_policy_reference","summary":"Devs
        Only","self":"https://api.pagerduty.com/escalation_policies/P9ZL21C","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P9ZL21C"},"escalation_level":1,"schedule":null,"user":{"name":"John
        Jones","email":"pagerduty@veverka.net","time_zone":"America/New_York","color":"red","avatar_url":"https://secure.gravatar.com/avatar/2f470cc6d39607a796ab734e4da8de50.png?d=mm&r=[...]
