---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/oncalls?time_zone=EST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f4c3a727e737e0cda020dd2bcf70e896"
    body:
      encoding: ASCII-8BIT
      string: '{"oncalls":[{"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"escalation_level":1,"schedule":null,"user":{"id":"PDU9IB6","type":"user_reference","summary":"Fake
        User","self":"https://api.pagerduty.com/users/PDU9IB6","html_url":"https://push-comedy-theater.pagerduty.com/users/PDU9IB6"},"start":null,"end":null},{"escalation_policy":{"id":"P9ZL21C","type":"escalation_policy_reference","summary":"Devs
        Only","self":"https://api.pagerduty.com/escalation_policies/P9ZL21C","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P9ZL21C"},"escalation_level":1,"schedule":null,"user":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"start":n[...]
