---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/schedules/preview?overflow=false
    body:
      encoding: UTF-8
      string: '{"name":"Test item","time_zone":"America/New_York","description":"Test
        item","schedule_layers":[{"start":"2017-05-30T18:52:25Z","end":"2017-06-09T18:52:25Z","rotation_virtual_start":"2017-05-30T18:52:25Z","rotation_turn_length_seconds":86400,"users":[{"id":"PDU9IB6","type":"user"}]}],"restrictions":[{"type":"daily_restriction","start_time_of_day":"08:00:00","duration_seconds":32400}],"body":{"schedule":{"name":"Test
        item","type":"schedule","time_zone":"America/New_York","description":"Test
        item","schedule_layers":[{"start":"2017-05-30T18:52:25Z","end":"2017-06-09T18:52:25Z","rotation_virtual_start":"2017-05-30T18:52:25Z","rotation_turn_length_seconds":86400,"users":[{"id":"PDU9IB6","type":"user"}]}],"restrictions":[{"type":"daily_restriction","start_time_of_day":"08:00:00","duration_seconds":32400}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid Input Provided","code":2001,"errors":["User
        cannot be empty."]}}'
  recorded_at: Tue, 30 May 2017 18:52:26 GMT
recorded_with: VCR 3.0.3
