---
http_interactions:
- request:
    method: put
    uri: https://api.pagerduty.com/schedules/P99HSGO?overflow=false
    body:
      encoding: UTF-8
      string: '{"name":"Test item","schedule":{"name":"Test item","type":"schedule","time_zone":"UTC","description":null,"schedule_layers":null,"restrictions":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid Input Provided","code":2001,"errors":["Schedule
        layers cannot be empty."]}}'
  recorded_at: Tue, 30 May 2017 18:52:25 GMT
recorded_with: VCR 3.0.3
