---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/notifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid Input Provided","code":2001,"errors":["Since
        cannot be empty."]}}'
  recorded_at: Sat, 27 May 2017 16:16:00 GMT
recorded_with: VCR 3.0.3
