---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/notifications?filter=email_notification&since=2017-05-10T23:48:27Z&until=2017-05-28T00:53:13Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"16d5682f16b96667f7844b3021faaf7a"
    body:
      encoding: ASCII-8BIT
      string: '{"notifications":[{"id":"P05N6CT","type":"email_notification","user":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"started_at":"2017-05-10T19:48:34-04:00","address":"patrick@veverka.net"},{"id":"P5I3D01","type":"email_notification","user":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"started_at":"2017-05-10T19:49:39-04:00","address":"patrick@veverka.net"},{"id":"P2E9ZLE","type":"email_notification","user":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.[...]
