---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/notifications?filter=sms_notification&since=2017-05-10T23:48:27Z&until=2017-05-28T00:53:13Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4f7371c652a48ab09a966f3f5db45449"
    body:
      encoding: ASCII-8BIT
      string: '{"notifications":[],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Sun, 28 May 2017 21:38:30 GMT
recorded_with: VCR 3.0.3
