---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?statuses%5B%5D=acknowledged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"193f8009527bf95ef3d4d791572a496d"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":18,"title":"Test ","description":"Test
        ","created_at":"2017-05-23T12:33:57Z","status":"acknowledged","pending_actions":[{"type":"unacknowledge","at":"2017-05-23T14:17:52Z"},{"type":"resolve","at":"2017-05-23T16:33:57Z"}],"incident_key":"420342d650204edba758f8e2298ed322","service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"assignments":[{"at":"2017-05-23T13:47:52Z","assignee":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}}],"acknowledgements":[{"at":"2017-05-23T13:47:52Z","acknowledger":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}}],"last_status_change_at":"2017-05-23T13:47:52Z","last_status_change_by":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"first_trigger_log_entry":{"id":"ROAWYI4IS9GDV98H8EAFZ8OAYE","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/ROAWYI4IS9GDV98H8EAFZ8OAYE","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P9XCW88/log_entries/ROAWYI4IS9GDV98H8EAFZ8OAYE"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"is_mergeable":true,"importance":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"P9XCW88","type":"incident","summary":"[#18]
        Test ","self":"https://api.pagerduty.com/incidents/P9XCW88","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P9XCW88"}],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Tue, 23 May 2017 13:48:03 GMT
recorded_with: VCR 3.0.3
