---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?incident_key=2a74a331f2764cf7918edf78f5478ed1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a8734099d49c88f0a551eff4d45d2e59"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":7,"title":"The server is on fire.","description":"The
        server is on fire.","created_at":"2017-05-14T00:55:02Z","status":"resolved","pending_actions":[],"incident_key":"2a74a331f2764cf7918edf78f5478ed1","service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"assignments":[],"acknowledgements":[],"last_status_change_at":"2017-05-14T04:55:02Z","last_status_change_by":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"first_trigger_log_entry":{"id":"R42BSU1S22YUNH20HMK3HTUBTU","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/R42BSU1S22YUNH20HMK3HTUBTU","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P2TXNIA/log_entries/R42BSU1S22YUNH20HMK3HTUBTU"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"is_mergeable":true,"importance":null,"resolve_reason":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"P2TXNIA","type":"incident","summary":"[#7]
        The server is on fire.","self":"https://api.pagerduty.com/incidents/P2TXNIA","html_url":"https://push-comedy-theater.pagerduty.com/incidents/P2TXNIA"}],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Tue, 23 May 2017 13:45:54 GMT
recorded_with: VCR 3.0.3
