---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?since=2017-05-10T23:48:27Z&until=2017-05-14T00:53:13Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0844fa24a9c12079b61f7c7241d5e3a3"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":1,"title":"hi","description":"hi","created_at":"2017-05-10T23:48:27Z","status":"resolved","pending_actions":[],"incident_key":null,"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"assignments":[],"acknowledgements":[],"last_status_change_at":"2017-05-11T03:48:27Z","last_status_change_by":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"first_trigger_log_entry":{"id":"R9ZTW1B0YBN465O6Y66ZAM24HH","type":"trigger_log_entry_reference","summary":"Triggered
        through the API","self":"https://api.pagerduty.com/log_entries/R9ZTW1B0YBN465O6Y66ZAM24HH","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PR9KSCW/log_entries/R9ZTW1B0YBN465O6Y66ZAM24HH"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[],"alert_counts":{"all":1,"triggered":0,"resolved":1},"impacted_services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"is_mergeable":true,"importance":null,"resolve_reason":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PR9KSCW","type":"incident","summary":"[#1]
        hi","self":"https://api.pagerduty.com/incidents/PR9KSCW","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PR9KSCW"},{"incident_number":2,"title":"summary","description":"summary","created_at":"2017-05-10T23:49:33Z","status":"resolved","pending_actions":[],"incident_key":null,"service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_u[...]
