---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?team_ids%5B%5D=P1HE60B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"40c6768e2955b1dd334f88ec79dfeb26"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":16,"title":"P7WQ2DJ","description":"P7WQ2DJ","created_at":"2017-05-23T02:36:45Z","status":"resolved","pending_actions":[],"incident_key":"4317884c47d5426eae0723caea6eed7a","service":{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},"assignments":[],"acknowledgements":[],"last_status_change_at":"2017-05-23T06:36:45Z","last_status_change_by":{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},"first_trigger_log_entry":{"id":"R7TB45BK1I8HT280A9VQTTFQ1P","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/R7TB45BK1I8HT280A9VQTTFQ1P","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PSN9SS2/log_entries/R7TB45BK1I8HT280A9VQTTFQ1P"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"}],"is_mergeable":true,"importance":null,"resolve_reason":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PSN9SS2","type":"incident","summary":"[#16]
        P7WQ2DJ","self":"https://api.pagerduty.com/incidents/PSN9SS2","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PSN9SS2"},{"incident_number":17,"title":"fasdf","description":"fasdf","created_at":"2017-05-23T12:11:52Z","status":"triggered","pending_actions":[{"type":"resolve","at":"2017-05-23T16:11:52Z"}],"incident_key":"2066b9be246d4892adfaeb9b41597e67","service":{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},"assignments":[{"at":"2017-05-23T12:32:22Z","assignee":{"id":"PDU9IB6","type":"user_reference","summary":"Fake
        User","self":"https://api.pagerduty.com/users/PDU9IB6","html_url":"https://push-comedy-theater.pagerduty.com/users/PDU9IB6"}}],"acknowledgements":[],"last_status_change_at":"2017-05-23T12:32:22Z","last_status_change_by":{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},"first_trigger_l[...]
