---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?team_ids%5B%5D=P7XILUG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3b078279e9aaa85185132c7adc895043"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":15,"title":"Test for P407C9R","description":"Test
        for P407C9R","created_at":"2017-05-23T02:36:02Z","status":"resolved","pending_actions":[],"incident_key":"1918ca460c7a4f0ba93d4ed733ee9328","service":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"assignments":[],"acknowledgements":[],"last_status_change_at":"2017-05-23T06:36:03Z","last_status_change_by":{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"},"first_trigger_log_entry":{"id":"R37LG06ZDPB458NKOM0TXEMS00","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/R37LG06ZDPB458NKOM0TXEMS00","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDA23LK/log_entries/R37LG06ZDPB458NKOM0TXEMS00"},"escalation_policy":{"id":"P9ZL21C","type":"escalation_policy_reference","summary":"Devs
        Only","self":"https://api.pagerduty.com/escalation_policies/P9ZL21C","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P9ZL21C"},"privilege":null,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"is_mergeable":true,"importance":null,"resolve_reason":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PDA23LK","type":"incident","summary":"[#15]
        Test for P407C9R","self":"https://api.pagerduty.com/incidents/PDA23LK","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PDA23LK"}],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Tue, 23 May 2017 13:45:53 GMT
recorded_with: VCR 3.0.3
