---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?urgencies%5B%5D=low
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dbea1af090b8b8eff55732bde83d58f2"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Tue, 23 May 2017 13:46:00 GMT
recorded_with: VCR 3.0.3
