---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents?user_ids%5B%5D=PDU9IB6,PGJLPE9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f19937ccb0e7b50de38b9c88f0cfe67e"
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":17,"title":"fasdf","description":"fasdf","created_at":"2017-05-23T12:11:52Z","status":"triggered","pending_actions":[{"type":"resolve","at":"2017-05-23T16:11:52Z"}],"incident_key":"2066b9be246d4892adfaeb9b41597e67","service":{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},"assignments":[{"at":"2017-05-23T12:32:22Z","assignee":{"id":"PDU9IB6","type":"user_reference","summary":"Fake
        User","self":"https://api.pagerduty.com/users/PDU9IB6","html_url":"https://push-comedy-theater.pagerduty.com/users/PDU9IB6"}}],"acknowledgements":[],"last_status_change_at":"2017-05-23T12:32:22Z","last_status_change_by":{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},"first_trigger_log_entry":{"id":"R62HDNU8UA38BLU24IGE8GMKFF","type":"trigger_log_entry_reference","summary":"Triggered
        through the website","self":"https://api.pagerduty.com/log_entries/R62HDNU8UA38BLU24IGE8GMKFF","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PEROLY6/log_entries/R62HDNU8UA38BLU24IGE8GMKFF"},"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy_reference","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5"},"privilege":null,"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}],"alert_counts":{"all":0,"triggered":0,"resolved":0},"impacted_services":[{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"}],"is_mergeable":true,"importance":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PEROLY6","type":"incident","summary":"[#17]
        fasdf","self":"https://api.pagerduty.com/incidents/PEROLY6","html_url":"https://push-comedy-theater.pagerduty.com/incidents/PEROLY6"}],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Tue, 23 May 2017 13:46:07 GMT
recorded_with: VCR 3.0.3
