---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/schedules/P99HSGO/overrides
    body:
      encoding: UTF-8
      string: '{"start":"2017-05-30T23:48:27Z","end":"2017-06-02T00:53:13Z","user_id":"PGJLPE9","override":{"start":"2017-05-30T23:48:27Z","end":"2017-06-02T00:53:13Z","user":{"id":"PGJLPE9","type":"user"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"fc1b066a29a7b23f218419922bfdbec0"'
    body:
      encoding: UTF-8
      string: '{"override":{"start":"2017-05-30T23:48:27Z","end":"2017-06-02T00:53:13Z","user":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"id":"Q0KU8C9IYGLCQT"}}'
  recorded_at: Tue, 30 May 2017 18:40:45 GMT
recorded_with: VCR 3.0.3
