---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/schedules/P99HSGO/overrides?since=2017-05-10T23:48:27Z&until=2017-06-28T00:53:13Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b4960afc91f66d53771320946b1b9011"
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"overrides":[{"start":"2017-05-30T19:48:27-04:00","end":"2017-06-01T20:53:13-04:00","user":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"id":"Q0KU8C9IYGLCQT"}]}'
  recorded_at: Tue, 30 May 2017 18:43:08 GMT
recorded_with: VCR 3.0.3
