---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents/P9XCW88/notes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="FAKETOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7c042604380f11616021f4d987485131"
    body:
      encoding: ASCII-8BIT
      string: '{"notes":[{"id":"PQP8MEK","user":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"content":"This
        is a test note.","created_at":"2017-05-23T21:41:56-04:00"}]}'
  recorded_at: Wed, 24 May 2017 01:45:08 GMT
recorded_with: VCR 3.0.3
