---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/maintenance_windows?filter=ongoing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ad58185f26ddfea5309c894bd27cbe18"
    body:
      encoding: ASCII-8BIT
      string: '{"maintenance_windows":[{"id":"PIVGPA6","type":"maintenance_window","summary":"This
        is scheduled","self":"https://api.pagerduty.com/maintenance_windows/PIVGPA6","html_url":"https://push-comedy-theater.pagerduty.com/maintenance_windows#/show/PIVGPA6","sequence_number":1,"start_time":"2017-05-27T11:17:00-04:00","end_time":"2017-05-27T11:18:00-04:00","description":"This
        is scheduled","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"created_by":{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"},"teams":[{"id":"P1HE60B","type":"team_reference","summary":"Ops","self":"https://api.pagerduty.com/teams/P1HE60B","html_url":"https://push-comedy-theater.pagerduty.com/teams/P1HE60B"}]}],"limit":25,"offset":0,"total":null,"more":false}'
  recorded_at: Sat, 27 May 2017 15:17:28 GMT
recorded_with: VCR 3.0.3
