---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/addons
    body:
      encoding: UTF-8
      string: '{"addon":{"type":"full_page_addon","name":"Test","src":"https://www.example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"767f80123ddc009298d9953c54b59494"'
    body:
      encoding: UTF-8
      string: '{"addon":{"id":"P76DVOR","type":"full_page_addon","summary":"Test","self":"https://api.pagerduty.com/addons/P76DVOR","html_url":null,"name":"Test","src":"https://www.example.com","services":[]}}'
  recorded_at: Mon, 22 May 2017 15:11:17 GMT
recorded_with: VCR 3.0.3
