---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/addons
    body:
      encoding: UTF-8
      string: '{"addon":{"type":null,"name":null,"src":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid Input Provided","code":2001,"errors":["Name
        cannot be empty."]}}'
  recorded_at: Mon, 22 May 2017 15:08:43 GMT
recorded_with: VCR 3.0.3
