---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"433eca93f5130b19f27501c1d6afb7ba"
    body:
      encoding: ASCII-8BIT
      string: '{"addons":[{"id":"P58BJWA","type":"full_page_addon","summary":"Full
        Page Addon","self":"https://api.pagerduty.com/addons/P58BJWA","html_url":null,"name":"Full
        Page Addon","src":"https://intranet.example.com/status","services":[]},{"id":"PE3MKYN","type":"incident_show_addon","summary":"Incident
        Addon","self":"https://api.pagerduty.com/addons/PE3MKYN","html_url":null,"name":"Incident
        Addon","src":"https://intranet.example.com","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}]}],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Fri, 19 May 2017 14:40:34 GMT
recorded_with: VCR 3.0.3
