---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/addons?filter=full_page_addon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"359e276be971fc4e1e2079f8abbecfd5"
    body:
      encoding: ASCII-8BIT
      string: '{"addons":[{"id":"P58BJWA","type":"full_page_addon","summary":"Full
        Page Addon","self":"https://api.pagerduty.com/addons/P58BJWA","html_url":null,"name":"Full
        Page Addon","src":"https://intranet.example.com/status","services":[]}],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Fri, 19 May 2017 15:17:19 GMT
recorded_with: VCR 3.0.3
