---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/addons/PE3MKYN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9d55b218c00c07f133c8d4cc1fed1415"
    body:
      encoding: ASCII-8BIT
      string: '{"addon":{"id":"PE3MKYN","type":"incident_show_addon","summary":"Updated
        Again","self":"https://api.pagerduty.com/addons/PE3MKYN","html_url":null,"name":"Updated
        Again","src":"https://intranet.example.com/newest_url","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}]}}'
  recorded_at: Mon, 22 May 2017 19:30:45 GMT
- request:
    method: put
    uri: https://api.pagerduty.com/addons/PE3MKYN
    body:
      encoding: UTF-8
      string: '{"name":"Updated Again"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9d55b218c00c07f133c8d4cc1fed1415"
    body:
      encoding: ASCII-8BIT
      string: '{"addon":{"id":"PE3MKYN","type":"incident_show_addon","summary":"Updated
        Again","self":"https://api.pagerduty.com/addons/PE3MKYN","html_url":null,"name":"Updated
        Again","src":"https://intranet.example.com/newest_url","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}]}}'
  recorded_at: Mon, 22 May 2017 19:30:45 GMT
recorded_with: VCR 3.0.3
