---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/addons/PE3MKYN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7d16d5fa110d6877c8c641aa24027bc1"
    body:
      encoding: ASCII-8BIT
      string: '{"addon":{"id":"PE3MKYN","type":"incident_show_addon","summary":"Updated
        Incident Addon","self":"https://api.pagerduty.com/addons/PE3MKYN","html_url":null,"name":"Updated
        Incident Addon","src":"https://intranet.example.com/new_url","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}]}}'
  recorded_at: Mon, 22 May 2017 19:26:31 GMT
- request:
    method: put
    uri: https://api.pagerduty.com/addons/PE3MKYN
    body:
      encoding: UTF-8
      string: '{"type":"incident_show_addon","name":"Newly Updated Incident Addon","src":"https://intranet.example.com/newest_url"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"75d41c5694457dd2166c29f5e58d1dc2"
    body:
      encoding: ASCII-8BIT
      string: '{"addon":{"id":"PE3MKYN","type":"incident_show_addon","summary":"Newly
        Updated Incident Addon","self":"https://api.pagerduty.com/addons/PE3MKYN","html_url":null,"name":"Newly
        Updated Incident Addon","src":"https://intranet.example.com/newest_url","services":[{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}]}}'
  recorded_at: Mon, 22 May 2017 19:26:31 GMT
recorded_with: VCR 3.0.3
