---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/incidents/PDP31UM/notes
    body:
      encoding: UTF-8
      string: '{"note":{"content":"THIS IS CONTENT"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="iFBafMkV8noXmHd6jmsi"
      From:
      - pagerduty@veverka.net
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"b2d725067db7af3d1409e50090580027"'
    body:
      encoding: UTF-8
      string: '{"note":{"id":"PUELXOO","user":{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},"content":"THIS
        IS CONTENT","created_at":"2017-05-26T19:40:59-04:00"}}'
  recorded_at: Fri, 26 May 2017 23:40:59 GMT
recorded_with: VCR 3.0.3
