---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/escalation_policies
    body:
      encoding: UTF-8
      string: '{"escalation_policy":{"type":"escalation_policy","name":"TEST","escalation_rules":[{"escalation_delay_in_minutes":10,"targets":[]}],"repeat_enabled":false,"services":[],"num_loops":0,"teams":[],"description":""}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid Input Provided","code":2001,"errors":["Targets
        cannot be empty."]}}'
  recorded_at: Mon, 22 May 2017 22:07:04 GMT
recorded_with: VCR 3.0.3
