---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/escalation_policies
    body:
      encoding: UTF-8
      string: '{"repeat_enabled":false,"services":[{"id":"P7WQ2DJ","type":"service"}],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team"}],"description":"Generic
        Description","from_email_address":"user@domain.com","escalation_policy":{"type":"escalation_policy","name":"Generated
        Policy","escalation_rules":[{"escalation_delay_in_minutes":10,"targets":[{"id":"PQLNQ9T","type":"schedule"}]}],"repeat_enabled":false,"services":[{"id":"P7WQ2DJ","type":"service"}],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team"}],"description":"Generic
        Description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="READONLY"
      From:
      - user@domain.com
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Access Denied","code":2010}}'
  recorded_at: Mon, 22 May 2017 22:09:33 GMT
recorded_with: VCR 3.0.3
