---
http_interactions:
- request:
    method: post
    uri: https://api.pagerduty.com/escalation_policies
    body:
      encoding: UTF-8
      string: '{"repeat_enabled":false,"services":[{"id":"P7WQ2DJ","type":"service"}],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team"}],"description":"Generic
        Description","from_email_address":"server@pushcomedytheater.com","escalation_policy":{"type":"escalation_policy","name":"Generated
        Policy","escalation_rules":[{"escalation_delay_in_minutes":10,"targets":[{"id":"PQLNQ9T","type":"schedule"}]}],"repeat_enabled":false,"services":[{"id":"P7WQ2DJ","type":"service"}],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team"}],"description":"Generic
        Description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
      From:
      - server@pushcomedytheater.com
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"692dc4f0247b8162cb320f16ecdf76be"'
    body:
      encoding: UTF-8
      string: '{"escalation_policy":{"id":"PP148UZ","type":"escalation_policy","summary":"Generated
        Policy","self":"https://api.pagerduty.com/escalation_policies/PP148UZ","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/PP148UZ","name":"Generated
        Policy","escalation_rules":[{"id":"PVIFQR6","escalation_delay_in_minutes":10,"targets":[{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[],"num_loops":0,"teams":[{"id":"P7XILUG","name":"Devs","description":null,"type":"team","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG","default_role":"manager","privilege":null}],"description":"Generic
        Description","privilege":null}}'
  recorded_at: Mon, 22 May 2017 22:07:33 GMT
recorded_with: VCR 3.0.3
