---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies/P2JEHJE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"aba6e8277bbed0725e3845f775c86836"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policy":{"id":"P2JEHJE","type":"escalation_policy","summary":"TO
        BE DELETED","self":"https://api.pagerduty.com/escalation_policies/P2JEHJE","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P2JEHJE","name":"TO
        BE DELETED","escalation_rules":[{"id":"PVVHWP6","escalation_delay_in_minutes":30,"targets":[{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"description":"","privilege":null}}'
  recorded_at: Mon, 22 May 2017 20:29:03 GMT
[...]
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies/P2JEHJE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Escalation Policy Not Found","code":5001}}'
  recorded_at: Mon, 22 May 2017 20:29:04 GMT
recorded_with: VCR 3.0.3
