---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies?query=Policy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c4e0a349591df7f245d6ab3fb1fc949b"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policies":[{"id":"PT057MH","type":"escalation_policy","summary":"Engineering
        Escalation Policy","self":"https://api.pagerduty.com/escalation_policies/PT057MH","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/PT057MH","name":"Engineering
        Escalation Policy","escalation_rules":[{"id":"PRB87F1","escalation_delay_in_minutes":10,"targets":[{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[],"num_loops":0,"teams":[],"description":"","privilege":null},{"id":"PTAEK1P","type":"escalation_policy","summary":"Policy
        Name","self":"https://api.pagerduty.com/escalation_policies/PTAEK1P","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/PTAEK1P","name":"Policy
        Name","escalation_rules":[{"id":"PLH20NA","escalation_delay_in_minutes":30,"targets":[{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}]},{"id":"PAM4L6X","escalation_delay_in_minutes":30,"targets":[{"id":"PRTFS0C","type":"user_reference","summary":"Patrick
        Veverka","self":"https://api.pagerduty.com/users/PRTFS0C","html_url":"https://push-comedy-theater.pagerduty.com/users/PRTFS0C"}]}],"services":[],"num_loops":1,"teams":[],"description":"","privilege":null}],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Mon, 22 May 2017 19:50:17 GMT
recorded_with: VCR 3.0.3
