---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies?user_ids%5B%5D=PGJLPE9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dc6ec7adb21356f60ba42e7c0121e7b2"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policies":[{"id":"P9ZL21C","type":"escalation_policy","summary":"Devs
        Only","self":"https://api.pagerduty.com/escalation_policies/P9ZL21C","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P9ZL21C","name":"Devs
        Only","escalation_rules":[{"id":"P41IVJB","escalation_delay_in_minutes":30,"targets":[{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"description":"Test","privilege":null}],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Mon, 22 May 2017 20:13:54 GMT
recorded_with: VCR 3.0.3
