---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies?team_ids%5B%5D=P7XILUG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"cd96bd1315e937e85771d941916167e3"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policies":[{"id":"P1N7VS5","type":"escalation_policy","summary":"Default","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5","name":"Default","escalation_rules":[{"id":"P4UXIE2","escalation_delay_in_minutes":30,"targets":[{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"description":"","privilege":null},{"id":"P9ZL21C","type":"escalation_policy","summary":"Devs
        Only","self":"https://api.pagerduty.com/escalation_policies/P9ZL21C","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P9ZL21C","name":"Devs
        Only","escalation_rules":[{"id":"P41IVJB","escalation_delay_in_minutes":30,"targets":[{"id":"PGJLPE9","type":"user_reference","summary":"John
        Jones","self":"https://api.pagerduty.com/users/PGJLPE9","html_url":"https://push-comedy-theater.pagerduty.com/users/PGJLPE9"},{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"description":"Test","privilege":null}],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Mon, 22 May 2017 20:14:25 GMT
recorded_with: VCR 3.0.3
