---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies?user_ids%5B%5D=PDU9IB6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"be988dbc4b3667eee418d29ff58a24e1"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policies":[],"limit":25,"offset":0,"more":false,"total":null}'
  recorded_at: Mon, 22 May 2017 20:13:54 GMT
recorded_with: VCR 3.0.3
