---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies/P1N7VS5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"77e685f7196b05a6ab2d607191f3e525"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy","summary":"Default
        Changed","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5","name":"Default
        Changed","escalation_rules":[{"id":"P4UXIE2","escalation_delay_in_minutes":30,"targets":[{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"num_loops":5,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"description":"Description
        Value","privilege":null}}'
  recorded_at: Mon, 22 May 2017 23:07:00 GMT
- request:
    method: put
    uri: https://api.pagerduty.com/escalation_policies/P1N7VS5
    body:
      encoding: UTF-8
      string: '{"repeat_enabled":true,"escalation_policy":{"type":"escalation_policy","repeat_enabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"77e685f7196b05a6ab2d607191f3e525"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policy":{"id":"P1N[...]
