---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/escalation_policies/P1N7VS5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="y_NbAkKc66ryYTWUXYEu"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"31c9d718b0ffeaa555338387a1a5738a"
    body:
      encoding: ASCII-8BIT
      string: '{"escalation_policy":{"id":"P1N7VS5","type":"escalation_policy","summary":"Default","self":"https://api.pagerduty.com/escalation_policies/P1N7VS5","html_url":"https://push-comedy-theater.pagerduty.com/escalation_policies/P1N7VS5","name":"Default","escalation_rules":[{"id":"P4UXIE2","escalation_delay_in_minutes":30,"targets":[{"id":"PQLNQ9T","type":"schedule_reference","summary":"New
        Schedule #1","self":"https://api.pagerduty.com/schedules/PQLNQ9T","html_url":"https://push-comedy-theater.pagerduty.com/schedules/PQLNQ9T"}]}],"services":[{"id":"P7WQ2DJ","type":"service_reference","summary":"API
        Service","self":"https://api.pagerduty.com/services/P7WQ2DJ","html_url":"https://push-comedy-theater.pagerduty.com/services/P7WQ2DJ"},{"id":"P407C9R","type":"service_reference","summary":"test
        service","self":"https://api.pagerduty.com/services/P407C9R","html_url":"https://push-comedy-theater.pagerduty.com/services/P407C9R"}],"num_loops":0,"teams":[{"id":"P7XILUG","type":"team_reference","summary":"Devs","self":"https://api.pagerduty.com/teams/P7XILUG","html_url":"https://push-comedy-theater.pagerduty.com/teams/P7XILUG"}],"description":"","privilege":null}}'
  recorded_at: Mon, 22 May 2017 22:35:57 GMT
[...]
